{% extends "panel/panel_base.html" %}{% load staticfiles %}{% load i18n %} {% block head_extra %}
{% load crispy_forms_tags %}
{% endblock head_extra %} {% block content %}{{ form.media }}
{% include "panel/includes/header.html" %}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Basic datatable -->
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">{{ title }}</h5>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-10">
                            <form action="https://money.yandex.ru/eshop.xml" method="post">{% csrf_token %}
                                {{ form|crispy }}
                                <input type="submit" class="btn bg-blue" value="Подтвердить" />
                            </form>
                        </div>
                        <div class="col-md-2">

                        </div>
                    </div>
                </div>

            </div>
            <!-- /basic datatable -->
        </div>
    </div>
    {% include "panel/footer.html" %}
</div>
<!-- /content area -->
{% endblock %}