{% extends "panel/panel_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load qs_item %}
{% block head_extra %}
{{ form.media }}
{% endblock head_extra %}
{% block content %}
{% include "memberzone/includes/header.html" %}
<div class="content">
    <!-- Post -->
    <div class="panel">
        <div class="panel-body">
            <div class="content-group-lg">
                <div class="content-group text-center">
                </div>

                <h3 class="text-semibold mb-5">
                    <a href="#" class="text-default">{{ title }}</a>
                </h3>

                <div class="content-group">
                    <p>Поздравляем, теперь Вы стали членом комманды {{ preferences.AppSettings.brand }}! </p>
                     <p>Теперь можете закрыть окно и продолжить использование приложения.</p>
                </div>
            </div>
        </div>

    </div>

    <!-- /post -->
    {% include "panel/footer.html" %}
</div>
<!-- /content area -->
{% endblock %}