{% extends "panel/panel_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block head_extra %}
{{ form.media }}
{% endblock head_extra %}
{% block content %}
{% include "memberzone/includes/header.html" %}
<div class="content">
    <h6 class="content-group text-semibold">
        Программы {{ preferences.AppSettings.brand }}
        <small class="display-block">Выберите подходящий тариф</small>
    </h6>
    <div class="row">
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-body">
                    <form action="" method="post" id="program_pay_form">{% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-danger">Купить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% include "panel/footer.html" %}
</div>
<!-- /content area -->
{% endblock %}

