{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ preferences.AppSettings.brand }} Login</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link href="{% static "panel/assets/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
        <link href="{% static "panel/assets/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
        <link href="{% static "panel/assets/css/form-elements.css" %}" rel="stylesheet" type="text/css">
        <link href="{% static "panel/assets/css/style.css" %}" rel="stylesheet" type="text/css">


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "assets/ico/apple-touch-icon-144-precomposed.png" %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "assets/ico/apple-touch-icon-114-precomposed.png" %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "assets/ico/apple-touch-icon-72-precomposed.png" %}">
        <link rel="apple-touch-icon-precomposed" href="{% static "assets/ico/apple-touch-icon-57-precomposed.png" %}">

    </head>

    <body>

        <!-- Top content -->
        <div class="top-content">

            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Личный кабинет {{ preferences.AppSettings.brand }}</h3>
                                    <p>«Введите свое имя пользователя и пароль, указанные при регистрации в приложении {{ preferences.AppSettings.brand }}</p>
                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-lock"></i>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <form role="form" action="" method="post" class="login-form">{% csrf_token %}
                                    <div class="row">
                                        <div class="col-sm-12">
                                            {{ form.username|as_crispy_field }}
                                        </div>
                                        <div class="col-sm-12">
                                            {{ form.password|as_crispy_field }}
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="g-recaptcha" data-sitekey="6Lcj7lUUAAAAALm25w69gShTjYe1lxs3O3Ja35yO"></div>
                                        </div>

                                    </div>




                                    <div>
                                        <button type="submit" class="btn">Войти!</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <!-- Javascript -->
        <script src="{% static "panel/assets/js/jquery-1.11.1.min.js" %}"></script>
        <script src="{% static "panel/assets/bootstrap/js/bootstrap.min.js" %}"></script>
        <script src="{% static "panel/assets/js/jquery.backstretch.min.js" %}"></script>
        <script src="{% static "panel/assets/js/scripts.js" %}"></script>
        <!--<script src='https://www.google.com/recaptcha/api.js'></script>-->

        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>