
  <!-- Profile info -->
  <div class="panel panel-flat">
      <div class="panel-body">
        <ul class="nav nav-pills nav-stacked col-md-2">
          {% for day in days %}
            {% if forloop.first %}
              <li class="active"><a href="#tab_{{ day.id }}" data-toggle="pill">{{ day }}</a></li>
            {% else %}
              <li><a href="#tab_{{ day.id }}" data-toggle="pill">{{ day }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
        <div class="tab-content col-md-10">
          {% for day in days %}
            {% if forloop.first %}
              <div class="tab-pane active" id="tab_{{ day.id }}">
                   {% include "panel/includes/food_object_list.html" %}
              </div>
            {% else %}
              <div class="tab-pane" id="tab_{{ day.id }}">
                   <h4>{{ day }}</h4>
                  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                      ac turpis egestas.</p>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
  </div>
  <!-- /profile info -->


