{% load crispy_forms_tags %}
<form action="." method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4">
            {{ exercise_filter_form.workout_occupation|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ exercise_filter_form.model_sex|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ exercise_filter_form.main_muscle|as_crispy_field }}
        </div>
    </div>
</form>
<form action="." method="post" data-url="{% url 'accounts:training_create' %}" data-wseturl="{% url 'accounts:wset_create' slug=object.client.slug pk=object.id %}" class="ajaxTrainingForm" data-wset="{{ wset.id }}" data-workout="{{ workout.id }}" data-client="{{ object.client.id }}">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4">
            {{ trainingform.exercise|as_crispy_field }}
        </div>
        <div class="col-md-8">
            {{ trainingform.exercise_input|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            {{ trainingform.content|as_crispy_field }}
        </div>
        <div class="col-md-2">
            {{ trainingform.rest_time|as_crispy_field }}
        </div>

        <div class="col-md-3">
            <div class="btn-group">
                <button type="submit" class="btn btn-default addTrainingButton">Добавить</button>
                <button type="reset" class="btn btn-default button_reset" id="id_button_reset">Сброс</button>
                <a href="{% url 'accounts:wset_update' slug=view.kwargs.slug sk=wset.workout.id pk=wset.id %}" class="btn btn-default visible-xs">Сет</a>
            </div>
        </div>
    </div>
    <div class="row hidden-xs">
        <div class="col-sm-6">
            <div class="alert alert-primary no-border">
                <div class="row">
                    <div class="col-sm-8">
                        {{ wset.approach_number }} подх, {{ wset.rest_time }}, {% if wset.content != None %}{{ wset.content}}{% endif%}
                    </div>
                    <div class="col-sm-4 text-right">
                        <a href="{% url 'accounts:wset_update' slug=view.kwargs.slug sk=wset.workout.id pk=wset.id %}">
                            <i class="icon-pencil7 mr-3 icon-1x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="alert alert-primary no-border excercise-comment">
                Комментарии к упражнению.
            </div>
        </div>
    </div>
</form>