{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>{% if seo_title %}{{ seo_title }}{% else %} {{ title }}{% endif %} | {{ preferences.AppSettings.brand|upper }} </title>
{% include "panel/scripts.html" %}
{{ form.media }}
{% if seo_desc %}<meta name="description" content="{{ seo_desc }}" />{% endif %}
{% if seo_keywords %}<meta name="keywords" content="{{ seo_keywords }}" />{% endif %}
{% include "panel/panel_head.html" %}
{% block member_css %}
{% endblock member_css %}
{% block knowledgebase%}
{% endblock knowledgebase%}
{% block head_extra %}
{% endblock head_extra %}
</head>
<body>
    {% if not client_form and not memberzone_login_form %}
        {% include "panel/navbar.html" %}
    {% endif %}
    <div class="page-container">
        <div class="page-content">
            {% if not client_form and not memberzone_login_form %}
                {% include "panel/main_sidebar.html" %}
            {% endif %}
            <div class="content-wrapper">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
    {% block callscript %}
    {% endblock callscript %}
    {% block user_scripts %}
    {% endblock user_scripts %}
    {% block ajax_workout_scripts %}
    {% endblock ajax_workout_scripts %}
    {% block ajax_food_scripts %}
    {% endblock ajax_food_scripts %}
    {% block ajax_bloger_scripts %}
    {% endblock ajax_bloger_scripts %}
    {% block add_trainer_scripts %}
    {% endblock add_trainer_scripts %}
    {% block client_register_scripts %}
    {% endblock client_register_scripts %}
    {% block program_scripts %}
    {% endblock program_scripts %}
    {% block workout_template_scripts %}
    {% endblock workout_template_scripts %}
    {% include "panel/includes/metrika.html" %}
</body>
</html>

