{% extends "panel/panel_base.html" %}{% load staticfiles %}{% load i18n %} {% block head_extra %}
{% load crispy_forms_tags %}
{% endblock head_extra %}
{% block member_css %}
    <link href="{% static "panel/assets/css/memberzone/cards.css" %}" rel="stylesheet" type="text/css">
{% endblock member_css %}
{% block content %}{{ form.media }}
{% include "panel/includes/header.html" %}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Basic datatable -->
            <div class="panel panel-flat">
                <div class="panel-body">
                    <div class="row">
                        {% include "memberzone/includes/food/day_list.html" %}
                    </div>
                </div>

            </div>
            <!-- /basic datatable -->
        </div>
    </div>
    {% include "panel/footer.html" %}
</div>
<!-- /content area -->
{% endblock %}