{% load crispy_forms_tags %}
<div class="row visible-xs">
    <div class="col-sm-6">
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="thumbnail">
              <div class="caption">
                <div class="row">
                    <div class="col-xs-12">
                        </i>Персональные программы тренировок</li>
                          {{ form.personal_workout_buy_package|as_crispy_field }}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-12">
                        </i> Персональная прогамма питания (с рецептами приготовления)</li>
                                    {{ form.personal_pp_buy_package|as_crispy_field }}
                    </div>
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary"> Выбрать </button>
                    </div>
                </div>
                <hr>
                <a href="/static/terms.pdf">Условия пользования услугами SportaApps</a></br>
                <a href="/static/konf.pdf">Политика конфиденциальности</a>
                <div class="text-muted">
                    {{ preferences.AppSettings.rekv }}
                </div>
              </div>
            </div>
        </form>
      </div>
</div>