{% extends "panel/panel_base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block head_extra %}
{{ form.media }}
{% endblock head_extra %}
{% block workout_template_scripts %}
<script type="text/javascript" src="{% static "panel/assets/js/users/djangoajaxcalls.js" %}"></script>
<script type="text/javascript" src="{% static "panel/assets/js/plugins/autocomplete/jquery.mockjax.js" %}"></script>
<script type="text/javascript" src="{% static "panel/assets/js/plugins/autocomplete/jquery.autocomplete.js" %}"></script>
<script type="text/javascript" src="{% static "panel/assets/js/subscriptions/customworkout.js" %}"></script>
{% endblock workout_template_scripts %}
{% block content %}
{% include "panel/includes/header.html" %}
<div class="content">
    <div class="row">
        <div class="col-md-12" >
          <div class="panel panel-flat">
              <div class="panel-body">
                <ul class="nav nav-pills nav-stacked col-md-2">
                    <li class="active"><a href="#tab_settings"  data-toggle="pill">Общие настройки</a></li>
                  {% for wset in object.wset_set.all %}
                      <li><a href="#tab_{{ wset.number }}" data-toggle="pill">Сет №{{ wset.number }}</a></li>
                  {% endfor %}
                </ul>
                <div class="tab-content col-md-10">
                    <div class="tab-pane active" id="tab_settings">
                        <form action="." method="post">
                            {% csrf_token %}
                              {{ form|crispy }}
                              {{ wset_form|crispy }}
                              <button type="submit" class="btn btn-default">Сохранить</button>
                        </form>
                    </div>
                  {% for wset in object.wset_set.all %}
                      <div class="tab-pane" id="tab_{{ wset.number }}">
                           {% include "panel/includes/subscriptions/custom_training_form.html" %}
                           {% include "panel/includes/subscriptions/custom_training_object_list.html" %}
                      </div>
                  {% endfor %}
                </div>
              </div>
          </div>
        </div>
    </div>
    {% include "panel/footer.html" %}
</div>
<script type="text/javascript">
    var name = $('#id_name').val();
    $('#id_rest').on('click', function(e) {
          if($('#id_rest').is(":checked")){
              $('#id_name').val('Отдых');
          }
          else {
            $('#id_name').val(name);
            }
      });
</script>
<!-- /content area -->
{% endblock %}