
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Время</th>
                <th><div class="text-center">ВЕС / ККАЛ / БЕЛКИ / ЖИРЫ / УГЛЕВОДЫ</div> </th>
                <th>Суммарное КБЖУ</th>
            </tr>
        </thead>
        <tbody class="FoodTBody">
            {% for eattime in day.timetemplate_set.all %}
            <tr class="eatTimeRow" data-eattime="{{ eattime.id }}">
                <td>{{ eattime }}</td>
                <td>
                    <table class="table datatable-basic datatable-responsive dataTable">
                        <tbody class="foodTable" data-foodurl="{% url 'subscriptions:food_template_delete' %}">
                            {% for food in eattime.foodtemplate_set.all%}
                            <tr class="foodRow" data-food="{{ food.id }}">
                                <td>{{ food.product }} ({{ food.product.unit }})</td>
                                <td>{{ food.weight }}</td>
                                <td>{{ food.kkal }}</td>
                                <td>{{ food.protein }}</td>
                                <td>{{ food.fat }}</td>
                                <td>{{ food.carbohydrate }}</td>
                                <td><a href="#" class="removeFood"><i class="icon-cross3" title="Удалить продукт"></i></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td>{{ eattime.weight }}/{{ eattime.kkal }}/{{ eattime.protein }}/{{ eattime.fat }}/{{ eattime.carbohydrate }}</td>
            </tr>
            {% endfor %}
            <table class="table">
                <tbody class="">
                    <tr>
                        <td></td>
                        <td>
                            <table class="table datatable-basic datatable-responsive dataTable">
                                <tbody>
                                    <tr class="itog">
                                        <td class="itog_weight"></td>
                                        <td class="itog_kkal"></td>
                                        <td class="itog_protein"></td>
                                        <td class="itog_fat"></td>
                                        <td class="itog_carbohydrate"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </tbody>
    </table>
</div>

