<div class="panel panel-flat">
    <div class="datatable-responsive">
       <table class="table datatable-basic">
           <thead>
               <tr>
                   <th>№</th>
                   <th>Название программы</th>
                   <th>Тип программы</th>
                   <th>Рейтинг</th>
                   <th>Категории</th>
                   <th>Платная</th>
                   <th>Статус</th>
                   <th class="text-center">Действия</th>
               </tr>
           </thead>
           <tbody>
               {% for obj in object_list %}
                   <tr>
                       <td>{{ forloop.counter }}</td>
                       {% if obj.get_detail_url != None %}
                           <td><a href="{{ obj.get_detail_url }}">{{ obj.name }}</a></td>
                       {% else %}
                           <td>{{ obj.name }}</td>
                       {% endif %}
                       <td>{{ obj.get_program_type }}</td>
                       <td>{{ obj.rating }}</td>
                       <td>{% for category in obj.category.all %}{{ category }}{%if not forloop.last%}, {%endif%}{% endfor %}</td>
                       <td>{{ obj.price_type }}</td>
                       <td>
                           {% if obj.is_active %}
                               <span class="label label-success">Активный</span>
                           {% else %}
                               <span class="label label-danger">Неактивный</span>
                           {% endif %}
                       </td>
                       <td class="text-center">
                           <ul class="icons-list">
                               <li class="dropdown">
                                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                       <i class="icon-menu9"></i>
                                   </a>
                                   <ul class="dropdown-menu dropdown-menu-right">
                                       <li><a href="{{ obj.get_update_url }}"><i class="icon-pencil"></i> Редактировать</a></li>
                                       <li><a href="{{ obj.get_delete_url }}"><i class="icon-cross2"></i> Удалить</a></li>
                                   </ul>
                               </li>
                           </ul>
                       </td>
                   </tr>
               {% endfor %}
           </tbody>
       </table>
    </div>
</div>
