{% extends "panel/panel_base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block head_extra %}
{{ form.media }}
{% endblock head_extra %}
{% block program_scripts %}
<script type="text/javascript" src="{% static "panel/assets/js/users/djangoajaxcalls.js" %}"></script>
<script type="text/javascript" src="{% static "panel/assets/js/subscriptions/prices.js" %}"></script>
<script type="text/javascript" src="{% static "panel/assets/js/subscriptions/program.js" %}"></script>
{% endblock program_scripts %}
{% block content %}
{% include "panel/includes/header.html" %}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Basic datatable -->
            <div class="panel panel-flat">
                <div class="panel-body">
                    {% if not object.is_active and not object.program_type == 'WP' and not object.program_type == 'FP' %}<div class="alert alert-primary alert-styled-left">
                        <button type="button" class="close" data-dismiss="alert"><span>&times;</span><span class="sr-only">Закрыть</span></button>
                        Для возможности активирования программы,  <a href="{% url 'subscriptions:program_detail' pk=object.id %}">создайте</a>  необходимое количество шаблонов.
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-10">
                            <form action="" method="post" enctype="multipart/form-data" class="program_form" data-program="{{ object.id }}">{% csrf_token %}
                                {{ form|crispy }}
                                <button type="submit" class="btn btn-default">Сохранить</button>
                                {% if not object.program_type == 'WP' and not object.program_type == 'FP' and not object.program_type == 'FG' and not object.program_type == 'MT' %}
                                  {% if object.workout_set.all.count > 0 %}
                                    <a class="btn btn-danger" id="program_workout_delete">Удалить тренировки</a>
                                  {% else %}
                                    <a class="btn btn-danger" id="program_workout_delete" disabled=true>Удалить тренировки</a>
                                  {% endif %}
                                {% endif %}
                            </form>
                            {% if dynamic_price_form %}
                                <div class="prices-form-container">
                                  <form action="" method="post" enctype="multipart/form-data" class="price_form price-form-container" data-program="{{ object.id }}" data-url="{% url 'subscriptions:program_price_add' pk=object.id %}" data-deleteurl="{% url 'subscriptions:program_price_delete' pk=object.id %}">{% csrf_token %}
                                      <h6>Добавьте одно или несколько ценовых предложений: "название / цена / количество" (например, "Индивидуальные тренировки: 3000р за 12шт")</h6>
                                      <div class="row">
                                          <div class="col-md-5">
                                              {{ dynamic_price_form.name|as_crispy_field }}
                                          </div>

                                          <div class="col-md-2">
                                              {{ dynamic_price_form.price|as_crispy_field }}
                                          </div>
                                          <div class="col-md-2">
                                              {{ dynamic_price_form.number|as_crispy_field }}
                                          </div>

                                          <div class="col-md-3">
                                              <div class="btn-group">
                                                  <button type="submit" class="btn btn-default program_price_btn">Добавить</button>
                                                  <button type="reset" class="btn btn-default">Сброс</button>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="table-responsive price-container">
                                          {% if object.price_set.all.count > 0 %}
                                              <table class="table">
                                                  <thead>
                                                      <tr>
                                                          <th>Предложение</th>
                                                          <th>Цена</th>
                                                          <th>Количество</th>
                                                          <th></th>
                                                      </tr>
                                                  </thead>
                                                  <tbody class="priceTable" data-trainingurl="">
                                                      {% for price in object.price_set.all %}
                                                      <tr class="priceRow" data-price="{{ price.id }}">
                                                          <td>{{ price.name }}</td>
                                                          <td>{{ price.price }}</td>
                                                          <td>{{ price.number }}</td>
                                                          <td><a href="#" class="removePrice"><i class="icon-cross3 pull-right" title="Удалить ценовое предложение"></i></a></td>
                                                      </tr>
                                                      {% endfor %}
                                                  </tbody>
                                              </table>
                                          {% endif %}
                                      </div>
                                  </form>
                                </div>
                            {% endif %}
                            {% if feature_form %}
                              <div class="fetaure-form-container">
                                  <form action="" method="post" enctype="multipart/form-data" class="feature_form feature-form-container" data-program="{{ object.id }}" data-url="{% url 'subscriptions:program_feature_add' pk=object.id %}" data-deleteurl="{% url 'subscriptions:program_feature_delete' pk=object.id %}">{% csrf_token %}
                                  <h6>Добавьте одно или несколько преимуществ</h6>
                                      <div class="row">
                                          <div class="col-md-9">
                                              {{ feature_form.name|as_crispy_field }}
                                          </div>
                                          <div class="col-md-3">
                                              <div class="btn-group">
                                                  <button type="submit" class="btn btn-default program_feature_button">Добавить</button>
                                                  <button type="reset" class="btn btn-default">Сброс</button>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="table-responsive feature-container">
                                          {% if object.feature_set.all.count > 0 %}
                                              <table class="table">
                                                  <thead>
                                                      <tr>
                                                          <th>Преимущество</th>
                                                          <th></th>
                                                      </tr>
                                                  </thead>
                                                  <tbody class="featureTable" data-trainingurl="">
                                                      {% for feature in object.feature_set.all %}
                                                      <tr class="featureRow" data-feature="{{ feature.id }}">
                                                          <td>{{ feature.name }}</td>
                                                          <td><a href="#" class="removeFeature"><i class="icon-cross3 pull-right" title="Удалить ценовое предложение"></i></a></td>
                                                      </tr>
                                                      {% endfor %}
                                                  </tbody>
                                              </table>
                                          {% endif %}
                                      </div>
                                  </form>
                              </div>
                            {% endif %}
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                </div>
            </div>
            <!-- /basic datatable -->
        </div>
    </div>
    {% include "panel/footer.html" %}
</div>
<!-- /content area -->
{% endblock %}