
<div class="table-responsive training-container">
    {% if wset.trainingtemplate_set.all.count > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Место</th>
                    <th>Мышцы</th>
                    <th>Доп мышцы</th>
                    <th>Тип</th>
                    <th>Биомеханика</th>
                    <th>Вектор</th>
                    <th>Оборудование</th>
                    <th>Сложность</th>
                    <th>Повторения</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="trainingTable" data-trainingurl="{% url 'subscriptions:training_template_delete'%}">
                {% for training in wset.trainingtemplate_set.all %}
                <tr class="trainingRow" data-training="{{ training.id }}">
                    <td>{%if training.workout_occupation == None %}{% else %}{{ training.workout_occupation }}{% endif %}</td>
                    <td>{%if training.main_muscle == None %}{% else %}{{ training.main_muscle }}{% endif %}</td>
                    <td>{%if training.other_muscle == None %}{% else %}{{ training.other_muscle }}{% endif %}</td>
                    <td>{%if training.exercise_type == None %}{% else %}{{ training.exercise_type }}{% endif %}</td>
                    <td>{%if training.biomech == None %}{% else %}{{ training.biomech }}{% endif %}</td>
                    <td>{%if training.vektor == None %}{% else %}{{ training.vektor }}{% endif %}</td>
                    <td>{%if training.equipment == None %}{% else %}{{ training.equipment }}{% endif %}</td>
                    <td>{%if training.difficulty_level == None %}{% else %}{{ training.difficulty_level }}{% endif %}</td>
                    <td>{{ training.repetition }}</td>
                    <td><a href="#" class="removeTraining"><i class="icon-cross3 pull-right" title="Удалить упражнение"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>


