{% load has_group %}
{% if object.personalworkoutprofile.workout_counter > 0 %}<div class="alert alert-primary alert-styled-left">
    <button type="button" class="close" data-dismiss="alert"><span>&times;</span><span class="sr-only">Закрыть</span></button>
    Сделать тренировок: {{ object.personalworkoutprofile.workout_counter }}
</div>
{% endif %}
<div class="panel-group" id="accordion">
  {% for workout in workouts %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <div class="row">
            <div class="col-xs-8">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">
              {% if workout.name %}{{workout.name}}{%else%}{{workout.created}}{%endif%}</a>
            </div>
            <div class="col-xs-2">
              <a href="{% url 'accounts:workout_detail' slug=object.slug pk=workout.pk  %}"><i class="icon-pencil5"></i></a>
            </div>
            <div class="col-xs-2">
              {% if request.user|has_group:"trainers" %}<a href="{% url 'accounts:workoutclone_create' slug=object.slug pk=workout.pk  %}"><i class="icon-copy3"></i></a>{% endif %}
            </div>
          </div>
        </h4>
      </div>
      <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li> Дата: {{ workout.created}}</li>
            {% if workout.done %}<li>Оттренировано: да</li>{% else %}<li>Оттренировано: Нет</li>{% endif %}
            {% if workout.name %}<li>{{ workout.name }}</li>{% endif %}
            {% if workout.content %}<li>{{ workout.get_content }}</li>{% endif %}
          </ul>
          <div class="btn-group">
            <a href="{% url 'accounts:workout_update' slug=object.slug pk=workout.pk  %}" class="btn btn-primary">Редактировать</a>
            <a href="{% url 'accounts:workout_delete' slug=object.slug pk=workout.pk   %}" class="btn btn-primary">Удалить</a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
