{% extends "blog/blog_base.html" %}
{% block content %}
    <article class="single-blog">
        <div class="post-thumb">
            {% for image in object.articleimage_set.all|slice:":1" %}
                <img src="{{ MEDIA_URL }}{{ image.image }}" alt="{{ object.title|truncatechars:50 }}" class="img-responsive">
            {% endfor %}
        </div>
        <div class="post-content">
            <div class="entry-header text-center text-uppercase">
                <h2>{{ object.title }}</h2>
            </div>
            <div class="entry-content">
                {{ object.content|safe }}
            </div>
            <div class="post-meta">
                <ul class="pull-left list-inline author-meta">
                    <li class="author">{{ object.user.get_full_name }}, </li>
                    <li class="date">{{ object.created }}</li>
                </ul>
            </div>
        </div>
    </article>
{% endblock content %}