{% extends "panel/panel_base.html" %}
{% load is_content_owner %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block head_extra %}
{{ form.media }}
{% endblock head_extra %}
{% load embed_video_tags %}
{% block content %}
{% include "panel/includes/header.html" %}
<div class="content">
    <div class="row">
        <div class="col-md-12">
          <div class="panel">
            <div class="panel-body">
              <div class="row">
                <div class=" col-md-12 col-lg-12 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr><td>Целевые мышцы</td><td>{{ object.main_muscle }}</td></tr>
                      <tr><td>Дополнительные мышцы</td><td>{{ object.other_muscle}}</td></tr>
                      <tr><td>Тип упражнения</td><td>{{ object.exercise_type}}</td></tr>
                      <tr><td>Биомеханика</td><td>{{ object.biomech}}</td></tr>
                      <tr><td>Вектор силы</td><td>{{ object.vektor}}</td></tr>
                      <tr><td>Оборудование</td><td>{{ object.equipment}}</td></tr>
                      <tr><td>Сложность</td><td>{{ object.difficulty_level}}</td></tr>
                      <tr><td>Описание</td><td>{{ object.content}}</td></tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
         <!-- Youtube -->
         <div class="panel panel-flat">
          <div class="panel-heading">
            <h5 class="panel-title">Краткое видео</h5>
          </div>
          <div class="panel-body">
            <div class="content-group-lg">
              <div class="embed-responsive embed-responsive-16by9">
                {% video object.short_video as my_video %}
                  {% video my_video '400x300' %}
                {% endvideo %}
              </div>
            </div>
          </div>
         </div>
         <!-- /youtube -->
      </div>
      <div class="col-sm-6">
         <!-- Youtube -->
         <div class="panel panel-flat">
          <div class="panel-heading">
            <h5 class="panel-title">Подробная техника выполнения</h5>
          </div>
          <div class="panel-body">
            <div class="content-group-lg">
              <div class="embed-responsive embed-responsive-16by9">
                {% video object.video as my_video %}
                  {% video my_video '400x300' %}
                {% endvideo %}
              </div>
            </div>
          </div>
         </div>
         <!-- /youtube -->
      </div>
    </div>
    {% if request.user|is_content_owner:object %}
      <div class="row">
        <div class="col-sm-12">
           <!-- Youtube -->
           <div class="panel panel-flat">
            <div class="panel-body">
              <div class="pull-right">
                <a href="{{ object.get_update_url }}" class="btn btn-primary">Редактировать</a>
                <a href="{{ object.get_delete_url }}" class="btn btn-danger">Удалить</a>
              </div>

            </div>
           </div>
           <!-- /youtube -->
        </div>
      </div>
    {% endif %}
    {% include "panel/footer.html" %}
</div>
<!-- /content area -->
{% endblock %}