<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for obj. in object.articleimage_set.all %}
      {% if forloop.first %}
        <li data-target="#myCarousel" data-slide-to="{{forloop.counter}}" class="active"></li>
        {% else %}
        <li data-target="#myCarousel" data-slide-to="{{forloop.counter}}"></li>
      {% endif %}
    {% endfor%}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    {% for obj in object.articleimage_set.all %}
      {% if forloop.first %}
        <div class="item active">
          <img src="{{ MEDIA_URL }}{{ obj.image }}" alt="{{ obj.article.title }}">
        </div>
      {% else %}
        <div class="item">
          <img src="{{ MEDIA_URL }}{{ obj.image }}" alt="{{ obj.article.title }}">
        </div>
      {% endif %}
    {% endfor %}
  </div>
  {% if object.articleimage_set.all.count > 1 %}
    <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Предыдущая</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Следующая</span>
      </a>
  {% endif %}
</div>