<!-- ARTICLE CATEGORIES SECTION -->
    <div class="row">
        <div class="col-md-12">
            <div class="fb-heading">
                Статьи
            </div>
            <hr class="style-three">
            <div class="row">
                {% for category in categories %}
                    <div class="col-md-6 margin-bottom-20">
                        <div class="fat-heading-abb">
                                <i class="{{ category.icon_name }}"></i> {{ category.name }}
                        </div>
                        <div class="fat-content-small padding-left-30">
                            <ul>
                                {% for doc in category.doc_set.all %}
                                    <li>
                                        <a href="{{ doc.get_absolute_url }}">{{ doc.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- END ARTICLES CATEOGIRES SECTION -->