<div class="panel panel-flat">
    <table class="table datatable-basic datatable-responsive">
        <thead>
            <tr>
                <th>Название фитнес-клуба</th>
                <th>Дата добавления</th>
                <th>Наличие фото</th>
                <th>Наличие видео</th>
                <th class="text-center">Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
                <tr>
                    <td><a href="{{ obj.get_absolute_url }}">{{ obj.name }}</a></td>
                    <td>{{ obj.created }}</td>
                    <td>{% if obj.image_set.all.count > 0 %}Да{% endif %}</td>
                    <td>{% if obj.video_url  %}Да{% endif %}</td>
                    <td class="text-center">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-menu9"></i>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="{{ obj.get_absolute_url }}"><i class="icon-enter"></i> Подробнее</a></li>
                                    <li><a href="{{ obj.get_update_url }}"><i class="icon-pencil"></i> Редактировать</a></li>
                                    <li><a href="{{ obj.get_delete_url }}"><i class="icon-cross2"></i> Удалить</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
