  <div class="page-header page-header-default">
      <div class="page-header-content">
          <div class="page-title">
              {% if page_title %}<h4></i> <span class="text-semibold">{{ page_title }}</span></h4>
              {% else %}<h4></i> <span class="text-semibold">{{ title }}</span></h4>{% endif %}
          </div>

              <div class="heading-elements">
                  <div class="heading-btn-group">
                    {% if addobject %}
                      <a href="{{ addobject }}" class="btn btn-link btn-float has-text"><i class="icon-add text-primary"></i> <span>Добавить</span></a>
                    {% elif editobject %}
                      <a href="{{ editobject }}" class="btn btn-link btn-float has-text"><i class="icon-add text-primary"></i> <span>Редактировать</span></a>
                    {% endif %}
                      {% if add_workoutobject %}
                      <a href="{{ add_workoutobject }}" class="btn btn-link btn-float has-text"><i class="icon-add text-primary"></i> <span>Тренировка</span></a>
                      {% endif %}
                      {% if add_foodobject %}
                      <a href="{{ add_foodobject }}" class="btn btn-link btn-float has-text"><i class="icon-add text-primary"></i> <span>Питание</span></a>
                      {% endif %}
                  </div>
              </div>
          {% if addwset %}
              <div class="heading-elements">
                  <div class="heading-btn-group">
                      <a href="{{ addwset }}" class="btn btn-link btn-float has-text"><i class="icon-add text-primary"></i> <span>Добавить сет</span></a>
                  </div>
              </div>
          {% endif %}

      </div>
      {% include "panel/includes/breadcrumbs.html" %}
  </div>