<div class="row">
    {% for obj in queryset%}
        <div class="col-md-3">
            <div class="panel panel-flat">
                <div class="panel-body">
                    <div class="thumb content-group article-thumb">
                        {% for image in obj.articleimage_set.all|slice:":1" %}
                            <img src="{{ MEDIA_URL }}{{ image.image }}" alt="" class="img-responsive">
                        {% endfor %}
                        <div class="caption-overflow">
                            <span>
                                <a href="{{ obj.get_member_article_absolute_url }}" class="btn btn-flat border-white text-white btn-rounded btn-icon"><i class="icon-arrow-right8"></i></a>
                            </span>
                        </div>
                    </div>

                    <h5 class="text-semibold mb-5">
                        <a href="{{ obj.get_member_article_absolute_url }}" class="text-default">{{ obj.title|truncatechars:30 }}</a>
                    </h5>

                    <ul class="list-inline list-inline-separate text-muted content-group">
                        <li>{{ obj.user.get_full_name }}</li>
                    </ul>
                    <div>
                        {{ obj.content|striptags|truncatechars:50 }}
                    </div>
                </div>
                <div class="panel-footer panel-footer-condensed">
                    <div class="heading-elements not-collapsible">
                        {% if obj.user.client %}
                        <a href="{{ obj.user.client.get_absolute_url }}" class="heading-text">{{ obj.user.get_full_name }}</a>
                        {% else %}
                        <a href="#" class="heading-text">{{ obj.user.get_full_name }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
{% endfor %}
</div>