{% load staticfiles %}
<div class="grid food-thumb">
    {% for obj in time_qs  %}
    <figure class="effect-ruby">
        <img src="{% static "panel/assets/img/food.jpg" %}" alt="img14"/>
        <figcaption>
            <h2>{{ obj.settingstime.name }}</h2>
            <p>
                {% for food in obj.food_set.all %}
                    {{ food.product.name }} | {{ food.weight|floatformat }} гр
                {% endfor %}
            </p>
        </figcaption>
    </figure>
    {% endfor %}
</div>
